{% extends 'base.html' %}
{% block content %}
<h2>Assign Instance Type to Hosts</h2>
<p>Assign instance types to the available hosts</p>
<form action="/panel/hosts/add/type" method="post">
    {% csrf_token %}
    {{ actions_form }}
    <input type="submit" name="submit" value="Submit" />
    <table id="rule-table">
    <tr>
        <th><input type="checkbox" onclick="toggle(this)" /></th>
        {% for field in hosts_form %}
            <th onclick="sortTable({{ forloop.counter0 }})">{{ field.label }}</th>
        {% endfor %}
    </tr>
    {% for host in hosts %}
    <tr>
        {% ifnotequal host.name "all" %}
            <td><input type="checkbox" class="checkbox" name="hosts" value={{ host.id }}></td>
            <td><a href="{% url 'list_host_rules' host  %}">{{ host }}</a></td>
            <td>{{ host.ip_address }}</td>
            <td>{{ host.instance_type }}</td>
            <td>{{ host.region }}</td>
        {% endifnotequal %}
    <tr/>
    {% endfor %}
    </table>
</form>
{% endblock %}
