{% extends 'base.html' %}
{% block content %}
<script>
function changeProfile() {
    var x = document.getElementById("id_network_profile").value;
    if (x){
        document.getElementById("id_bandwidth").disabled = true;
        document.getElementById("id_bw_rate").disabled = true;
        document.getElementById("id_latency").disabled = true;
        document.getElementById("id_latency_time_unit").disabled = true;
        document.getElementById("id_packet_loss").disabled = true;
        document.getElementById("id_packet_corruption_rate").disabled = true;
    }
    else if (x == ""){
        document.getElementById("id_bandwidth").disabled = false;
        document.getElementById("id_bw_rate").disabled = false;
        document.getElementById("id_latency").disabled = false;
        document.getElementById("id_latency_time_unit").disabled = false;
        document.getElementById("id_packet_loss").disabled = false;
        document.getElementById("id_packet_corruption_rate").disabled = false;
    }
}

function trafficChange() {
    var x = document.getElementById("id_traffic_type").value;
    if (x == 1){
        document.getElementById("id_ip_address").disabled = true;
    }
    else {
        document.getElementById("id_ip_address").disabled = false;
    }
}
    function regionSelect() {
        var region_name = document.getElementById("id_region").value;
        console.log(typeof(region_name))
        $.ajax({
            type: "GET",
            url: "/rule/add",
            data: {
                "csrfmiddlewaretoken": '{{ csrf_token }}',
                region: region_name
            },
            success: function (json) {
                var x = document.getElementById("id_host");
                var select = $('#id_host');
                console.log(json);
                var len = x.length;
                var i;
                select.empty().append('<option value="" selected="selected">---------</option>');
                $.each(json, function(a, b){
                    select.append("<option value="+a+">" + b["name"] + "</option>");
                });
            },
            error: function (xhr, errmsg, err) {
                console.log(xhr.status + ": " + xhr.responseText);
            }
        })
}
</script>
<h1>Add Extended Rules</h1>
<p>Create new extended rules tha override the created ones</p>
<form action="." method="post">
{% csrf_token %}
{{ add_rule.non_field_errors | striptags }}
{% for field in add_rule %}
  {{ field.errors|striptags }}
{% endfor %}
    <table id="rule-table">
        <tr>
        {% for field in add_rule %}
            <th>{{ field.label}}</th>
        {% endfor %}
        </tr>
        <tr>
        {% for field in add_rule %}
            <td>{{ field }}</td>
        {% endfor %}
        </tr>
    </table>
        {% for field in add_rule %}
        {% if field.label == "Apply the same traffic shaping rules to region hosts" or field.label == "Exclude traffic shaping between internal region hosts" %}
        {{field.label}} {{ field }} <br />
        {% endif %}
        {% endfor %}
        <br />
    <input type="submit" name="submit" value="Submit" />
</form>
<h2>Available Rules </h2>
<form action="/rule/delete/" method="post">
    {% csrf_token %}
    {{ actions_form }}
    <input type="submit" name="submit" value="Submit" />
    <br />
    <table id="rule-table">
    <tr>
        <th><input type="checkbox" onclick="toggle(this)" /></th>
        {% for field in add_rule %}
        {% if field.label == "Bandwidth rate" %}
        {% elif field.label == "Latency time unit" %}
        {% else %}
            <th onclick="sortTable({{ forloop.counter0 }})">{{ field.label }}</th>
        {% endif %}
        {% endfor %}
        <th>Created</th>
    </tr>
    {% for var in rules %}
    <tr>
        <td><input type="checkbox" class="checkbox" name="rules" value={{ var.id }}></td>
        <td>{{ var.host.region }}</td>
        <td>{{ var.host }}</td>
        <td>{{ var.interface }}</td>
        <td>{{ var.src_port_number }}</td>
        <td>{{ var.host.instance_type }}</td>
        <td>{{ var.get_traffic_type_display }}</td>
        <td>{{ var.target_region}}</td>
        <td>{{ var.target_host }}</td>
        <td>{{ var.target_ip_address }}</td>
        <td>{{ var.port_number }}</td>
        {% if var.bandwidth %}
            <td>{{ var.bandwidth }} {{ var.get_bw_rate_display }}</td>
        {% else %}
            <td>None</td>
        {% endif %}
        {% if var.latency %}
            <td>{{ var.latency }} {{ var.get_latency_time_unit_display }}</td>
        {% else %}
            <td>None</td>
        {% endif %}
        <td>{{ var.packet_loss }}</td>
        <td>{{ var.packet_corruption_rate }}</td>
        <td>{{ var.created }}</td>
    </tr>
    {% empty %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    {% endfor %}
    </table>
</form>
{% endblock %}
