{% extends 'base.html' %}
{% block content %}
<h1>Add Instance Type</h1>
<p>Create new instance types</p>
<form action="." method="post">
    {% csrf_token %}
    {{ add_region.non_field_errors | striptags }}
    {% for field in add_region %}
    {{ field.errors|striptags }}
    {% endfor %}
    <table id="rule-table">
        <tr>
        {% for field in add_instance_type %}
            <th>{{ field.label}}</th>
        {% endfor %}
        </tr>
        <tr>
        {% for field in add_instance_type %}
            <td>{{ field }}</td>
        {% endfor %}
        </tr>
    </table>
    <input type="submit" name="submit" value="Submit" />
</form>
<br />
<h2>Available Instance Types</h2>
<form action="/instance_type/delete/" method="post">
    {% csrf_token %}
    {{ actions_form }}
    <input type="submit" name="submit" value="Submit" />
    <br />
    <br />
    <table id="rule-table">
    <tr>
        <th><input type="checkbox" onclick="toggle(this)" /></th>
        {% for field in add_instance_type %}
            {% if field.label == "Latency time unit" %}
            {% elif field.label == "Bandwidth rate" %}
            {% else %}
                <th onclick="sortTable({{ forloop.counter0 }})">{{ field.label }}</th>
            {% endif %}
        {% endfor %}
    </tr>
    {% for var in instance_types %}
    <tr>
        <td><input type="checkbox" class="checkbox" name="instance_type" value={{ var.id }}></td>
        <td>{{ var.name }}</td>
        {% if var.bandwidth %}
            <td>{{ var.bandwidth }} {{ var.get_bw_rate_display }}</td>
        {% else %}
            <td>None</td>
        {% endif %}
        {% if var.latency %}
            <td>{{ var.latency }} {{ var.get_latency_time_unit_display }}</td>
        {% else %}
            <td>None</td>
        {% endif %}
        <td>{{ var.packet_loss }}</td>
        <td>{{ var.packet_corruption_rate }}</td>
    </tr>
    {% empty %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    {% endfor %}
    </table>
</form>
{% endblock %}

