{% extends 'base.html' %}
{% block content %}
<h1>Bird's Eye View of the Emulation</h1>
<p>Holistic view of the emulation with deployment groups association</p>
<div id="mynetwork"></div>
<script type="text/javascript">
  // create an array with nodes
  var number = 0;
  var GRAY = 'gray';
  var nodes = new vis.DataSet({% autoescape off %}{{nodes}}{% endautoescape %});

  // create an array with edges
  var edges = new vis.DataSet({% autoescape off %}{{edges}}{% endautoescape %});
  // create a network
  var container = document.getElementById('mynetwork');
  var data = {
    nodes: nodes,
    edges: edges
  };
  var options = {
    nodes: {
      scaling: {
        min: 16,
        max: 32
      }
    },
    edges: {
      color: GRAY,
      smooth: false
    }
  };
  var network = new vis.Network(container, data, options);
</script>
{% endblock %}
